@font-face {
    font-family: "red-alert";
    src: url("/fonts/red-alert.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background: #FB6F92;
    cursor: url(https://cdn.custom-cursor.com/db/cursor/32/Baby_Pink_PixelCursor.png), default !important;

}

h1 {
    position: absolute;
    top: 3.5%;
    left: 13%;
    color: #FB6F92;
    font-size: 40px;
    font-family: "red-alert", sans-serif;
}

.window { /* Link to an "class" with the HTML file */
    position: relative;     
    display: block;
    margin: 0 auto;
    width: 80%;
}

.cherry {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-111%, -50%);
    width: 35%;
}

.petals {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    width: 40%;
}

a { /* No blue color for the link */
    color: inherit;
    cursor: url(https://cdn.custom-cursor.com/db/pointer/32/Baby_Pink_PixelPointer.png), pointer !important;
}

.subtitle {
    position: absolute;
    top: 3.5%;
    left: 13%;
    font-size: 15px;
    font-family: "red-alert", sans-serif;
    color: rgb(134, 123, 125);
    font-style: italic;
}

.facts {
    position: absolute;
    top: 21%;
    left: 47%;
    font-size: 30px;
    font-family: "red-alert", sans-serif;
    color: rgb(216, 119, 137);
    max-width: 700px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

